.Modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FreeTable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    padding-left: 10%;
}

.form {
    border-width: 1;
    border-color: black;
}
