.BarPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ReservationButton {
    padding-top: 2%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
